.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;
}

.showlist {
    margin-top: 44px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    list-style: none;

    @media (max-width:768px) {
        grid-template-columns: 1fr 1fr;
    }
}
.list--is-active {
    display: grid;
}

.sholistitem {

    img {
    max-width: 100%;
    border-radius: 4px;
    list-style: none;
}
}

.showstabs{
    display: flex;
    justify-content: center;

    @media (max-width:768px) {
        white-space: nowrap;
        overflow-x: scroll;
        padding-left: 18px;
    }
} 
    .showtabsbutton {
        color: white;
        font-size: 20px;
        border: none;
        border-bottom: 5px transparent white;
        padding-bottom: 5px;
        background:none;
        text-transform: uppercase;
        margin: 0 1vw;
        cursor: pointer;    
        }

    .play--is-active {
        border-bottom: 5px solid white;

        @media (max-width:768px) {
            font-size: 16px;
        }
    } 
    

    

